body {
    background-color: var(--light-color);
}

.authenticate {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1010%26quot%3b)' fill='none'%3e%3ccircle r='35.77' cx='356.84' cy='86.44' fill='rgba(220%2c 20%2c 60%2c 0.58)'%3e%3c/circle%3e%3ccircle r='26.77' cx='422.46' cy='472.88' fill='rgba(220%2c 20%2c 60%2c 0.58)'%3e%3c/circle%3e%3ccircle r='38.895' cx='1241.69' cy='448.83' fill='rgba(220%2c 20%2c 60%2c 0.58)'%3e%3c/circle%3e%3ccircle r='25.255' cx='55.03' cy='521.53' fill='rgba(220%2c 20%2c 60%2c 0.58)'%3e%3c/circle%3e%3ccircle r='36.315' cx='212.89' cy='234.96' fill='rgba(220%2c 20%2c 60%2c 0.58)'%3e%3c/circle%3e%3ccircle r='43.59' cx='951.27' cy='75.62' fill='rgba(220%2c 20%2c 60%2c 0.58)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1010'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
}

.card-profile {
  border-width: 2px !important;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.card-profile.back-dev:hover {
  border: 3px solid var(--third-color);
  transform: translateY(-10px);
  transition: 1s;
}
.card-profile.front-dev:hover {
  border: 3px solid var(--danger-color);
  transform: translateY(-10px);
  transition: 1s;
}

.icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: inherit;
  }
  
  .add-btn:hover {
    width: 120px;
  }
  
  .add-btn::before,
  .add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: var(--danger-color);
  }
  
  .add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .icon-btn:focus {
    outline: none;
  }
  
  .btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  .add-btn:hover::before,
  .add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
  }
  
  .add-btn:hover .btn-txt {
    opacity: 1;
  }
  
  .add-icon::after,
  .add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: var(--danger-color);
    overflow: hidden;
  }
  
  .add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  
  .add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }


  .toggle-responsive:focus {
    outline: none !important;
    border: 0 !important;
  }
  
  @media screen and (max-width: 850px) {
    .text-header-2, .text-header {
      font-size : 2rem !important;
      text-align : center;
    }
    
    .nav-sidebar {
      display: none !important;
    }
    
    .dashboard-content {
      width: 100% !important;
    }
  }
  
  @media screen and (max-width: 500px) {
    .nav-container {
      padding: 0 10px !important;
    }
    .text-header-reply {
      font-size: 14px;
    }
    .img-header-reply {
      width: 80px;
    }
  .text-body-reply-date {
    font-size: 11px;
  }
  .text-body-reply-content {
    font-size: 12px;
    font-weight: 600;
  }
  .text-report-user-text, .text-report-user-icon {
    font-size: 14px !important;
  }
  .btn-reply-text {
    font-size: 14px;
  }
  .breadcrumb-item {
    font-size: 12px;
  }
  section.report-list {
    padding: 10px 0 !important;
  }
  aside.column-category {
    padding: 10px !important;
  }
  .text-category {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 1120px) {
    .text-card {
        font-size: 14px;
    }
}
