body {
    background-color: var(--light-color);
}

.authenticate {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1010%26quot%3b)' fill='none'%3e%3ccircle r='35.77' cx='356.84' cy='86.44' fill='rgba(220%2c 20%2c 60%2c 0.58)'%3e%3c/circle%3e%3ccircle r='26.77' cx='422.46' cy='472.88' fill='rgba(220%2c 20%2c 60%2c 0.58)'%3e%3c/circle%3e%3ccircle r='38.895' cx='1241.69' cy='448.83' fill='rgba(220%2c 20%2c 60%2c 0.58)'%3e%3c/circle%3e%3ccircle r='25.255' cx='55.03' cy='521.53' fill='rgba(220%2c 20%2c 60%2c 0.58)'%3e%3c/circle%3e%3ccircle r='36.315' cx='212.89' cy='234.96' fill='rgba(220%2c 20%2c 60%2c 0.58)'%3e%3c/circle%3e%3ccircle r='43.59' cx='951.27' cy='75.62' fill='rgba(220%2c 20%2c 60%2c 0.58)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1010'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
}

@media screen and (max-width: 850px) {
    .text-header-2, .text-header {
        font-size : 2rem !important;
        text-align : center;
    }

}

@media screen and (max-width: 1120px) {
    .text-card {
        font-size: 14px;
    }
}
