@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600;1,700&display=swap');
/* Clearing Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;
}

/* Root Style */
:root {
    /* Main Color(blue) */
    --primary-color : #1D3557;
    /* Secondary Color(powder-blue) */
    --secondary-color : #A8DADC;
    /* Third Celadon Blue */
    --third-color : #457B9D;
    /* Light Color */
    --light-color : #F1FAEE;
    /* Hover Color */
    --hover-color : #F1FAEE;
    --danger-color: #dc3545;
    /* Tambahkan root variabel jika dibutuhkan, biar stylenya konsisten... */
}

/*
Override Style
Timpa Class bootstrap atau buat Class baru jika dibutuhkan... */

/* Button Utama */
.btn-primary, .btn-sm-primary, .btn-lg-primary {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.btn-primary:hover, .btn-sm-primary:hover, .btn-lg-primary:hover {
    background-color: var(--hover-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: 0.8s;
    
}

/* Button Alternatif */
.btn-secondary, .btn-sm-secondary, .btn-lg-secondary {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}
.btn-secondary:hover, .btn-sm-secondary:hover, .btn-lg-secondary:hover {
    background-color: var(--hover-color);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    transition: 0.8s;
}

/* Button Alternatif-2 */
.btn-third, .btn-sm-third, .btn-lg-third {
    background-color: var(--third-color);
    border: 2px solid var(--third-color);
}
.btn-third:hover, .btn-sm-third:hover, .btn-lg-third:hover {
    background-color: var(--hover-color);
    border: 2px solid var(--third-color);
    color: var(--third-color);
    transition: 0.8s;
}

/* Background-color */
/* .bg-danger(Warna latar Background Utama) {} */
.bg-primary {
    background-color: var(--primary-color) !important;
}
.bg-secondary {
    background-color: var(--secondary-color) !important;
}
.bg-third {
    background-color: var(--third-color) !important;
}
.bg-light {
    background-color: var(--light-color) !important;
}
.bg-transparant-dark {
    background-color: rgba(0, 0, 0, 0.5);
}
.bg-footer {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-positon: center;
}
/* Untuk warna dark gunakan bawaan bootstrap = .dark */

/* Border */
.border-third {
    border-color: #457B9D !important;
}

/* Text-color */
.text-primary {
    color: var(--primary-color) !important;
}
.text-secondary {
    color: var(--secondary-color) !important;
}
.text-third {
    color: var(--third-color) !important;
}
.text-light {
    color: var(--light-color) !important;
}
/* Untuk warna dark gunakan bawaan bootstrap = .dark */
.group {
  position: relative;
 }
 
 .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
 }
 
 .input:focus {
  outline: none;
 }
 
 .label-input {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .input:focus ~ label, .input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: var(--danger-color);
 }
 
 .bar {
  position: relative;
  display: block;
  width: 200px;
 }
 
 .bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--danger-color);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .bar:before {
  left: 50%;
 }
 
 .bar:after {
  right: 50%;
 }
 
 .input:focus ~ .bar:before, .input:focus ~ .bar:after {
  width: 50%;
 }
 
 .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
 }
 
 .input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
 }
 
 @keyframes inputHighlighter {
  from {
   background: var(--danger-color);
  }
 
  to {
   width: 0;
   background: transparent;
  }
 }