@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600;1,700&display=swap');
/* Clearing Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;
}

/* Root Style */
:root {
    /* Main Color(blue) */
    --primary-color : #1D3557;
    /* Secondary Color(powder-blue) */
    --secondary-color : #A8DADC;
    /* Third Celadon Blue */
    --third-color : #457B9D;
    /* Light Color */
    --light-color : #FFFFFF;
    /* Hover Color */
    --hover-color : #F1FAEE;
    --danger-color: #dc3545;
    /* Tambahkan root variabel jika dibutuhkan, biar stylenya konsisten... */
}

/*
Override Style
Timpa Class bootstrap atau buat Class baru jika dibutuhkan... */

/* Button Utama */
.btn-primary, .btn-sm-primary, .btn-lg-primary {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.btn-primary:hover, .btn-sm-primary:hover, .btn-lg-primary:hover {
    background-color: var(--hover-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: 0.8s;
    
}

/* Button Alternatif */
.btn-secondary, .btn-sm-secondary, .btn-lg-secondary {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}
.btn-secondary:hover, .btn-sm-secondary:hover, .btn-lg-secondary:hover {
    background-color: var(--hover-color);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    transition: 0.8s;
}

/* Button Alternatif-2 */
.btn-third, .btn-sm-third, .btn-lg-third {
    background-color: var(--third-color);
    border: 2px solid var(--third-color);
}
.btn-third:hover, .btn-sm-third:hover, .btn-lg-third:hover {
    background-color: var(--hover-color);
    border: 2px solid var(--third-color);
    color: var(--third-color);
    transition: 0.8s;
}

/* Background-color */
/* .bg-danger(Warna latar Background Utama) {} */
.bg-primary {
    background-color: var(--primary-color) !important;
}
.bg-secondary {
    background-color: var(--secondary-color) !important;
}
.bg-third {
    background-color: var(--third-color) !important;
}
.bg-light {
    background-color: var(--light-color) !important;
}
.bg-transparant-dark {
    background-color: rgba(0, 0, 0, 0.1);
}
.bg-footer {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-positon: center;
}
/* Untuk warna dark gunakan bawaan bootstrap = .dark */

/* Border */
.border-third {
    border-color: #457B9D !important;
}

/* Text-color */
.text-primary {
    color: var(--primary-color) !important;
}
.text-secondary {
    color: var(--secondary-color) !important;
}
.text-third {
    color: var(--third-color) !important;
}
.text-light {
    color: var(--light-color) !important;
}
/* Untuk warna dark gunakan bawaan bootstrap = .dark */
.group {
  position: relative;
 }
 
 .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
 }
 
 .input:focus {
  outline: none;
 }
 
 .label-input {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .input:focus ~ label, .input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: var(--danger-color);
 }
 
 .bar {
  position: relative;
  display: block;
  width: 200px;
 }
 
 .bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--danger-color);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .bar:before {
  left: 50%;
 }
 
 .bar:after {
  right: 50%;
 }
 
 .input:focus ~ .bar:before, .input:focus ~ .bar:after {
  width: 50%;
 }
 
 .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
 }
 
 .input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
 }
 
 @keyframes inputHighlighter {
  from {
   background: var(--danger-color);
  }
 
  to {
   width: 0;
   background: transparent;
  }
 }

 button.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--primary-color);
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

 .bg-register {
    background-image: url('assets/png/regis2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }

 .text-header {
    font-size: 3rem;
    font-weight: bolder;
 }

 .bg-overlay {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1026%26quot%3b)' fill='none'%3e%3cpath d='M1440 0L900.91 0L1440 7.28z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M900.91 0L1440 7.28L1440 65.27L435.01 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M435.01 0L1440 65.27L1440 212.35000000000002L327.51 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M327.51 0L1440 212.35000000000002L1440 232.47000000000003L246.37 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L444.81 560L0 288.42z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 288.42L444.81 560L921.71 560L0 136.91000000000003z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 136.91000000000003L921.71 560L1234.8200000000002 560L0 64.86000000000003z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 64.86000000000001L1234.8200000000002 560L1348.2300000000002 560L0 47.04000000000001z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1026'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: bottom;
 }

 .feature-icon {
    font-size: 100px;
 }